{% extends 'base.html' %}

{% block content %}
    <h1>Клиенты</h1>

    {% for customer in customer_list %}
        <div>{{ customer.name }}</div>
    {% endfor %}

    <!-- Пример карточки без динамических данных -->
    <div class="card">
        <div class="card-body">
            {% for customer in customer_list %}
             {{ customer.name }}
            {% endfor %}
        </div>
    </div>

    <!-- Пример карточки с динамическими данными из цикла -->
    {% for customer in customer_list %}
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Клиент: {{ customer.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Пользователь</h6>
            <!-- Если нужно вывести информацию о пользователе, то предположим у каждого клиента есть пользователь -->
            <p class="card-text">Имя пользователя: {{ customer.user.username }}</p>
            <p class="card-text">Email: {{ customer.user.email }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
